doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Manager
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700')
    link(rel='stylesheet' href='/css/fontawesome.min.css')
    link(rel='stylesheet' href='jquery-ui-datepicker/jquery-ui.min.css' type='text/css')
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/templatemo-style.css')
    link(rel='stylesheet' href='/css/add-produce.css')
    // Product Admin CSS Template
    // https://templatemo.com/tm-524-product-admin

  body
    nav.navbar.navbar-expand-xl
      .container.h-100
        a.navbar-brand(href='ProduceList')
          h1.tm-site-title.mb-0 Managers Dashboard
        button.navbar-toggler.ml-auto.mr-0(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          i.fas.fa-bars.tm-nav-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mx-auto.h-100
            li.nav-item
              a.nav-link(href='produceList')
                i.fas.fa-tachometer-alt
                | Dashboard
                span.sr-only (current)
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                i.far.fa-file-alt
                span
                  | Reports 
                  i.fas.fa-angle-down
              .dropdown-menu(aria-labelledby='navbarDropdown')
                a.dropdown-item(href='reports') Daily Report
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                i.far.fa-file-alt
                span
                  | Produce 
                  i.fas.fa-angle-down
              .dropdown-menu(aria-labelledby='navbarDropdown')
                a.dropdown-item(href='produce') Add Produce
                a.dropdown-item(href='Procurements') Procurements
                a.dropdown-item(href='creditList') Credit List
          ul.navbar-nav
            li.nav-item
              a.nav-link.d-block(href='logoutkgl')
                | Manager, 
                b Logout

    .container.tm-mt-big.tm-mb-big
      .col-xl-9.col-lg-10.col-md-12.col-sm-12.mx-auto
        .tm-bg-primary-dark.tm-block.tm-block-h-auto
          .row
            .col-12
              h2.tm-block-title.d-inline-block Add Product
          form#add-produce-form(action='produce' method='POST')
            .form-group
              label(for='name') Name of Produce:
              select#name(name='producename')
                option(value='') Select Produce
                option(value='Beans') Beans
                option(value='CowPeas') CowPeas
                option(value='GrainMaize') Grain Maize
                option(value='GroundNuts') Ground Nuts
                option(value='SoyaBeans') Soya Beans
                option(value='Peas') Peas
              small#pnameErr.error
            .form-group
              label(for='type') Type of Produce:
              select#type(name='producetype')
                option(value='') Select Produce Type
                option(value='legume') Legume
                option(value='cereal') Cereal
              small#ptypeErr.error
            .form-group
              label(for='date') Date of Purchase:
              input#date(type='date' name='dateofpurchase')
              small#pdateofpurchaseErr.error
            .form-group
              label(for='time') Time:
              input#time(type='time' name='timeofpurchase')
              small#ptimeofpurchaseErr.error
            .form-group
              label(for='tonnage') Tonnage (kg):
              input#tonnage(type='number' name='tonnage')
              small#ptonnageErr.error
            .form-group
              label(for='cost') Cost of Produce per kg (UgX):
              input#cost(type='number' name='producecostperkg')
              small#pcostErr.error
            .form-group
              label(for='totalcost') Total Cost (UgX):
              input#totalcost(type='number' name='totalcost')
              small#ptotalcostErr.error
            .form-group
              label(for='source') Source of Produce:
              select#source(name='sourceofproduce')
                option(value='') Select Produce Source
                option(value='localfarm') Local Farm
                option(value='dealers') Dealers
                option(value='matugafarm') Matuga Farm
                option(value='othercompany') Other Company
              small#psourceofproduceErr.error
            .form-group
              label(for='dealer') Dealer's Name (if applicable):
              input#dealer(type='text' name='dealersname')
              small#pdealerErr.error
            .form-group
              label(for='company') Company's Name (if applicable):
              input#company(type='text' name='companyname')
              small#pcompanyErr.error
            .form-group
              label(for='branch') Branch of Storage:
              select#branch(name='storebranch')
                option(value='') Select Store Branch
                option(value='MAGANJO') Maganjo Store
                option(value='MATUGA') Matuga Store
              small#pbranchErr.error
            .form-group
              label(for='contact') Source Contact:
              input#contact(type='tel' name='contact')
              small#pcontactErr.error
            .form-group
              label(for='price') Price to be Sold At per kg (UGX):
              input#price(type='number' name='sellingpriceperkg')
              small#ppriceErr.error
              button.btn.btn-primary(type='submit') Add Produce

    footer.tm-footer.row.tm-mt-small
      .col-12.font-weight-light
        p.text-center.text-white.mb-0.px-4.small
          | Copyright &copy; 
          b 2018
          | All rights reserved. 
          | Design: 
          a.tm-footer-link(rel='nofollow noopener' href='https://arindashiphura.github.io/Arinda-web/') Arinda@Shiphura

    // Scripts
    script(src='/jquery-ui-datepicker/jquery-ui.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/addproduce.js')
    
