doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Manager
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700')
  // https://fonts.google.com/specimen/Roboto
  link(rel='stylesheet' href='/css/fontawesome.min.css')
  // https://fontawesome.com/
  link(rel='stylesheet' href='/jquery-ui-datepicker/jquery-ui.min.css' type='text/css')
  // http://api.jqueryui.com/datepicker/
  link(rel='stylesheet' href='/css/bootstrap.min.css')
  // https://getbootstrap.com/
  link(rel='stylesheet' href='/css/templatemo-style.css')
  link(rel='stylesheet' href='/css/add-produce.css')
  //
    Product Admin CSS Template
    https://templatemo.com/tm-524-product-admin
nav.navbar.navbar-expand-xl
  .container.h-100
    a.navbar-brand(href='agentsDashboard')
      h1.tm-site-title.mb-0 SalesAgents Dashboard
    button.navbar-toggler.ml-auto.mr-0(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      i.fas.fa-bars.tm-nav-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mx-auto.h-100
        li.nav-item
          a.nav-link(href='agentsDashboard')
            i.fas.fa-tachometer-alt
            |  Dashboard
            span.sr-only (current)
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            i.far.fa-file-alt
            span
              | Reports 
              i.fas.fa-angle-down
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='#') Daily Report
            a.dropdown-item(href='#') Weekly Report
            a.dropdown-item(href='#') Yearly Report
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            i.far.fa-file-alt
            span
              | Sales 
              i.fas.fa-angle-down
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='credit') credit sales 
            a.dropdown-item(href='salesList') sales list
            a.dropdown-item(href='creditList') creditList
      ul.navbar-nav
        li.nav-item
          a.nav-link.d-block(href='login.html')
            | Sales, 
            b Logout
.container.tm-mt-big.tm-mb-big
    .col-xl-9.col-lg-10.col-md-12.col-sm-12.mx-auto
      .tm-bg-primary-dark.tm-block.tm-block-h-auto
        .row
          .col-12
            h2.tm-block-title.d-inline-block Make credits
        // <div class="row tm-edit-product-row">
        // <div class="col-xl-6 col-lg-6 col-md-12">
        form#creditForm(action="credit" method="POST")
          // <div class="form-group mb-3">
          div
            label(for='buyerName') Name of the Buyer:
            input#buyerName(type='text' name='buyerName')
          
          div
            label(for='nationalId') National ID (NIN):
            input#nationalId(type='text' name='nationalId')
          
          div
            label(for='location') Location:
            input#location(type='text' name='location')
          
          div
            label(for='contacts') Contacts (Phone):
            input#contacts(type='tel' name='contacts' placeholder='+256XXXXXXXXX')
          
          div
            label(for='branch') Branch Name:
            select#branch(name='branch')
              option(value='') Select Branch
              option(value='matuga') Matuga
              option(value='maganjo') Maganjo
          
          div
            label(for='salesAgentName') Sales Agent Name:
            input#salesAgentName(type='text' name='salesAgentName')
          
          div
            label(for='dueDate') Due Date:
            input#dueDate(type='date' name='dueDate')
          
          div
            label(for='produceName') Produce Name:
            input#produceName(type='text' name='produceName')
          
          div
            label(for='produceType') Produce Type:
            input#produceType(type='text' name='produceType')
          
          div
            label(for='tonnage') Tonnage:
            input#tonnage(type='number' name='tonnage')
          
          div
            label(for='amountDue') Amount Due (UGX):
            input#amountDue(type='text' name='amountDue')
          
          div
            label(for='dispatchDate') Date of Dispatch:
            input#dispatchDate(type='date' name='dispatchDate')
          
          button(type='submit') Submit


footer.tm-footer.row.tm-mt-small
  .col-12.font-weight-light
    p.text-center.text-white.mb-0.px-4.small
        |Copyright &copy; 
        b 2018
        |  All rights reserved. 
        |             Design: 
        a.tm-footer-link(rel='nofollow noopener' href='https://templatemo.com') Template Mo
  script(src='js/jquery-3.3.1.min.js')
  script(src='js/add-produce.js')
  // https://jquery.com/download/
  script(src='jquery-ui-datepicker/jquery-ui.min.js')
  // https://jqueryui.com/download/
  script(src='js/bootstrap.min.js')
  // https://getbootstrap.com/
  script.
    $(function() {
    $("#expire_date").datepicker();
    });
