doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Happy Hoe Grocery - Login
    link(rel='stylesheet' href='/css/loginkgl.css')
  body
    video.video-background(autoplay muted loop)
      source(src='https://media.gettyimages.com/id/1972673543/video/happy-little-girl-choosing-a-cereal-from-the-shelf-helping-her-mom-shop-for-groceries-at-the.mp4?s=mp4-640x640-gi&k=20&c=XoaIU-pxxRhiEHgrNuVzzgS2qdkbvpnx0jxY0vspryg=' type='video/mp4')
      | Your browser does not support the video tag.
    
    .container
      h1 Welcome Back!
      p.welcome-message We're glad to see you again. Log in to continue   with work.
      
      form(action='/login' method='POST')
        label(for='email') Email Address
        input#email(type='email' name='email' required='')
        span#emailErrror 
        
        label(for='password') Password
        input#password(type='password' name='password' required='')
        span#passwordError 

        p.remember-me
        
        button.login-btn(type='submit') Login

        p.subtext New here? 
          a(href='/addUsers' style='color: green; cursor: pointer;') Create an account
          |  to get started.

    script(src='/js/login.js')
