doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Sign Up - Happy Hoe Grocery
    link(rel="stylesheet" href="css/signup.css")
    
  body
    
    main.container
      h2 Welcome to Happy Hoe Grocery
      p.motivational-text "Join us today and be a part of the family that brings the freshest produce to our community. We value trust, quality, and your satisfaction."
      .signup-container
        h2 Create an Account
        form#signup-form(action="addusers" method="POST")
          .form-row
            .form-group.left
              label(for='username') Username:
              input#username(type='text' name='username'  )
              span#usernameError
            .form-group.left
              label(for="email") Email Address:
              input#email(type="email" name="email" )
              span#emailError
            .form-group.left
              label(for="password") Password:
              input#password(type="password" name="password" )
              span#passwordError
            .form-group.right
              label(for="corfirmpassword") Confirm Password:
              input#corfirmpassword(type="password" name="corfirmpassword" )
              span#confirmPasswordError
            .form-group.right
              label(for="role") Select Your Role:
              select#role(name="role" required)
                option(value="" disabled selected) -- Select Role --
                option(value="manager") Manager
                option(value="sales-agent") Sales Agent
                span#roleError
            .form-group.right
              label(for="branch") Select Your Branch:
              select#branch(name="branch" required)
                option(value="" disabled selected) -- Select Branch --
                option(value="maganjo") Maganjo
                option(value="matuga") Matuga
                span#branchError
          button(type="submit") Sign Up
        a(href="login") Already have an account? Login here
      #error-message

    script(src="/js/signupkgl.js")
  
      