doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title   Happyhoegrocery
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700')
  // https://fonts.google.com/specimen/Roboto
  link(rel='stylesheet' href='css/fontawesome.min.css')
  // https://fontawesome.com/
  link(rel='stylesheet' href='css/bootstrap.min.css')
  // https://getbootstrap.com/
  link(rel='stylesheet' href='css/templatemo-style.css')
  link(rel='stylesheet' href='/css/styles.css')
  //
    Product Admin CSS Template
    https://templatemo.com/tm-524-product-admin
nav.navbar.navbar-expand-xl
  .container.h-100
    a.navbar-brand(href='/')
      h1.tm-site-title.mb-0 Stocks available
    button.navbar-toggler.ml-auto.mr-0(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      i.fas.fa-bars.tm-nav-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mx-auto.h-100
        li.nav-item
          a.nav-link(href='/')
            i.fas.fa-tachometer-alt
            |  Welcome
            span.sr-only (current)
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            i.far.fa-file-alt
            span
              | CLICK 
              i.fas.fa-angle-down
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='login') Login
            a.dropdown-item(href='/') BACK
      ul.navbar-nav
        li.nav-item
          a.nav-link.d-block(href='logoutkgl')
            | Admin, 
            b Logout
div.stock-container
      if produces.length
        each produce in produces
          div.stock-card
            h3 #{produce.producename}
            p Tonnage (Kg): #{produce.tonnage}
            div.card-actions
             
      else
        p No produce yet :(
footer.tm-footer.row.tm-mt-small
  .col-12.font-weight-light
    p.text-center.text-white.mb-0.px-4.small
      | Copyright &copy; 
      b 2018
      |  All rights reserved. 
      |           Design: 
      a.tm-footer-link(rel='nofollow noopener' href='https://arindashiphura.github.io/Arinda-web/') Arinda@Shiphura
script(src='js/jquery-3.3.1.min.js')
// https://jquery.com/download/
script(src='js/bootstrap.min.js')
// https://getbootstrap.com/
script.
  $(function() {
  $(".tm-product-name").on("click", function() {
  window.location.href = "edit-product.html";
  });
  });
