doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Happy Hoe Grocery - Welcome
  link(rel='stylesheet' href='/css/welcome.css')
body
  video.video-background(autoplay='' muted='' loop='')
    source(src='../img/home.mp4' type='video/mp4' )
    | Your browser does not support the video tag.
  
  .overlay
  .welcome-content
    h1 Welcome to Happy Hoe Grocery
    p Your trusted partner in fresh produce and quality groceries
    p.subtext
      | We bring you the best from our farms to your table.
      br
      | Experience freshness, quality, and service like never before.
    .buttons
      a.btn(href='addUsers') Don&apos;t have an account? Register here
      a.btn(href='stock') Do you want to view stoks that are available? View

  
