doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Happy Hoe Grocery - Welcome
  link(rel='stylesheet' href='/css/welcome.css')
body
  video.video-background(autoplay='' muted='' loop='')
    source(src='https://media.gettyimages.com/id/1972673543/video/happy-little-girl-choosing-a-cereal-from-the-shelf-helping-her-mom-shop-for-groceries-at-the.mp4?s=mp4-640x640-gi&k=20&c=XoaIU-pxxRhiEHgrNuVzzgS2qdkbvpnx0jxY0vspryg=' type='video/mp4')
    | Your browser does not support the video tag.
  
  .overlay
  .welcome-content
    h1 Welcome to Happy Hoe Grocery
    p Your trusted partner in fresh produce and quality groceries
    p.subtext
      | We bring you the best from our farms to your table.
      br
      | Experience freshness, quality, and service like never before.
    .buttons
      a.btn(href='addUsers') Don&apos;t have an account? Register here
      a.btn(href='loginkgl') Already have an account? Login here
      a.btn(href='/aboutUs') Learn More About Us

  
