/* General Styles */
                    
  
  
  /* Heading Styles */
  
  
  
  /* Card Styles */
  .card {
    border: 1px solid #ddd;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .card-custom {
    border-color: #06080b;
  }
  
  .card-body {
    padding: 1.5rem;
  }
  
  .card-body h6 {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.75rem;
  }
  
  /* Form Styles */
  .form-row {
    margin-bottom: 1rem;
  }
  
  .form-control {
    padding: 6px;
    color: #333;
    border-radius: 0.375rem;
    border: 2px solid #0d3e6e;    
  }
  
  input.btn.btn-primary {
    background-color: #29c511;
    border: none;
    border-radius: 0.375rem;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  input.btn.btn-primary:hover {
    background-color: #c05520;
  }
  
  /* Table Styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5rem;
  }
  
  table.table-striped thead {
    background-color: #07090b;
    color: #fff;
  }
  
  table th, table td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    font-weight: bold;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #513131;
  }
  
  table tbody tr:last-child {
    font-weight: bold;
    background-color: #e9ecef;
  }
  
  /* Responsive Design */
  @media (max-width: 767.98px) {
    .col-md-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  