/* Container styling */
.container {
  max-width: 1200px;
  height: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(49, 48, 48, 0.1);
  transition: border-color 0.3s ease;
  
  background-color: #807a7a;
}

/* Centering the heading */
h2.text-center {
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
}

/* Table styling */
table.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Table headers */
table.table thead {
  background-color: #616263;
  color: white;
}

table.table th {
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

/* Table body rows */
table.table tbody tr {
  border-bottom: 1px solid #ddd;
}

/* Table body cells */
table.table td {
  padding: 10px;
  vertical-align: middle;
}

/* Zebra striping */
table.table-striped tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

/* Button styling */
.btn {
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
}

.btn-primary {
  background-color: #1eb523;
  border: none;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
}

/* Responsive table */
@media (max-width: 768px) {
  table.table thead {
    display: none;
  }
  table.table, table.table tbody, table.table tr, table.table td {
    display: block;
    width: 100%;
  }
  table.table tr {
    margin-bottom: 15px;
  }
  table.table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  table.table td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: calc(50% - 20px);
    text-align: left;
    font-weight: bold;
  }
}
